* {
    margin: 0;
    padding: 0;
    --background-blue: #1F2937;
    --background-blue-hover: #3f4f66;
    --background-blue-active: #647894;
    --orange:#F97316;
    --orange-hover: #d36314;
    --orange-active: #b15412;
    --background-gray: #dfdde0;
    --dark-gray: #535353;
    --background-white: white;
    --background-black: black;

    --display: 15vh;
    --spacing: 1.5em;
}

/* HEADER */
header {
    background-color: var(--background-blue);
    color: var(--background-white);
    width: 100vw;
    height: var(--display);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page-title {
    font-size: 3em;
}

nav {
    display: flex;
    gap: 1em;
    margin-bottom: 1rem;
}

.nav-btn {
    border: 1px solid var(--background-gray);
    border-radius: 10%;
    height: 2.5em;
    width: 5em;
    background-color: var(--background-blue);
    color: var(--background-white)
}

.nav-btn:hover {
    background-color: var(--orange);
}

.nav-btn:active {
    background-color: var(--orange-hover);
}

/* BODY */
#content {
    display: flex;
    justify-content: center;
}

/* HOME */
#home-container, #menu-container, #contact-container {
    background-color: var(--background-gray);
    width: 100vw;
    height: auto-fill;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#home-title, #menu-title, #contact-title {
    font-size: 2em;
    margin-top: 1.5rem;
}

#home-subtitle, #menu-subtitle, #contact-subtitle {
    margin-bottom: 2rem;
    color: var(--dark-gray)
}

#home-content {
    background-color: var(--background-white);
    width: 50vw;
    height: auto-fill;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

#home-img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

#book-btn {
    border: none;
    background-color: var(--orange);
    color: var(--background-white);
    border-radius: 1rem;
    height: 3rem;
    width: 10rem;
    font-size: 1.5em;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#book-btn:hover {
    background-color: var(--orange-hover);
}

#book-btn:active {
    background-color: var(--orange-active);
}

#operating-hours-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#operating-hours-header {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.operating-hours-days {
    color: var(--orange);
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.operating-hours-times {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

/* MENU */
#menu-content {
    display: grid;
    /* grid-template-columns: ; */
    grid-template-columns: repeat(4, 2fr);
    gap: 1rem;
    border-radius: 10%;
}

.menu-item {
    background-color: var(--background-white);
    height: 10em;
    width: 10em;
}


/* CONTACT */