* {
    margin: 0;
    padding: 0;
    --background-blue: #1F2937;
    --background-blue-hover: #3f4f66;
    --background-blue-active: #647894;
    --orange:#F97316;
    --orange-hover: #d36314;
    --orange-active: #b15412;
    --background-gray: #dfdde0;
    --background-white: white;
    --background-black: black;

    --display: 15vh;
    --spacing: 1.5em;
}

/* HEADER */
header {
    background-color: var(--background-blue);
    color: var(--background-white);
    width: 100vw;
    height: var(--display);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page-title {
    font-size: 3em;
}

nav {}

.nav-btn {
    border: 1px solid var(--background-gray);
    border-radius: 10%;
    height: 2.5em;
    width: 5em;
    background-color: var(--background-blue);
    color: var(--background-white)
}

.nav-btn:hover {
    background-color: var(--background-blue-hover);
}

.nav-btn:active {
    background-color: var(--background-blue-active);
}

/* BODY */
#content {
    display: flex;
    justify-content: center;
}

/* HOME */
#home-container {
    background-color: var(--background-gray);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#home-title {
    font-size: 2em;
}

#home-content {
    background-color: var(--background-white);
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;

}

#book-btn {
    border: 1px solid var(--background-white);
    background-color: var(--orange);
    color: var(--background-white);
    border-radius: 10%;
    height: 2.5em;
    width: 5em;
}

#book-btn:hover {
    background-color: var(--orange-hover);
}

#book-btn:active {
    background-color: var(--orange-active);
}


/* MENU */


/* CONTACT */