* {
    margin: 0;
    padding: 0;
    --background-blue: #1F2937;
    --background-blue-hover: #3f4f66;
    --background-blue-active: #647894;
    --background-gray: #dfdde0;
    --background-white: white;
    --background-black: black;

    --display: 12vh;
    --spacing: 1.5em;
}

/* HEADER */
header {
    background-color: var(--background-blue);
    color: var(--background-white);
    width: 100vw;
    height: var(--display);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {}

.nav-btn {
    border: 1px solid var(--background-gray);
    border-radius: 10%;
    height: 2em;
    width: 4em;
    background-color: var(--background-blue);
    color: var(--background-white)
}

.nav-btn:hover {
    background-color: var(--background-blue-hover);
}

.nav-btn:active {
    background-color: var(--background-blue-active);
}

/* BODY */
#content {
    display: flex;
    justify-content: center;
}

/* HOME */
#home-container {
    background-color: pink;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* MENU */


/* CONTACT */